<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkhan.sparta_easy_upload.dao.CollectorDao">
    <resultMap id="collectorMap" type="CollectorInfo">
        <id property="collectorId" column="collector_id"/>
        <result property="collectorName" column="collector_name"/>
        <result property="collectorTelNumber" column="collector_tel_number"/>
        <result property="collectorEmail" column="collector_email"/>
    </resultMap>

    <resultMap id="presenterMap" type="CollectorInfo" extends="collectorMap">
        <collection property="presenters" ofType="PresenterInfo">
            <id property="presenterId" column="presenter_id"/>
            <result property="presenterName" column="presenter_name"/>
            <result property="presenterTelNumber" column="presenter_tel_number"/>
            <result property="presenterEmail" column="presenter_email"/>
            <result property="presenterWechat" column="presenter_wechat"/>
            <result property="collectorId" column="collector_id"/>
            <result property="labelId" column="labelId"/>
        </collection>
    </resultMap>

    <resultMap id="taskMap" type="CollectorInfo" extends="collectorMap">
        <collection property="tasks" ofType="TaskInfo">
            <id property="taskId" column="task_id"/>
            <result property="taskName" column="task_name"/>
            <result property="taskDescribe" column="task_describe"/>
            <result property="taskStatus" column="task_status"/>
            <result property="startTime" column="start_time"/>
            <result property="endTime" column="end_time"/>
            <result property="collectorId" column="collector_id"/>
        </collection>
    </resultMap>

    <insert id="insertCollector" useGeneratedKeys="true" keyProperty="collectorId" parameterType="CollectorInfo">
        insert into collector_info(collector_name, collector_tel_number, collector_email) values (#{collectorName}, #{collectorTelNumber}, #{collectorEmail})
    </insert>

    <insert id="insertCollectorList" useGeneratedKeys="true" keyProperty="collectorId" parameterType="java.util.List">
        insert into collector_info(collector_name, collector_tel_number, collector_email) values
        <foreach collection="list" item="collector" separator=",">
            (#{collector.collectorName, jdbcType=VARCHAR}, #{collector.collectorTelNumber, jdbcType=VARCHAR}, #{collector.collectorEmail, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <delete id="deleteCollectorById" parameterType="CollectorInfo">
        delete from collector_info where collector_id = #{collectorId}
    </delete>

    <update id="updateCollectorInfo" parameterType="CollectorInfo">
        update collector_info set 
        collector_name = #{collectorName},
        collector_tel_number = #{collectorTelNumber},
        collector_email = #{collectorEmail}
        where 
        collector_id = #{collectorId}
    </update>

    <select id="selectCollectorById" resultType="CollectorInfo">
        select * from collector_info where collector_id = #{collectorId}
    </select>

    <select id="selectCollectors" resultType="CollectorInfo">
        select * from collector_info
    </select>

    <select id="selectMyPresenters" resultMap="presenterMap">
        select a.*, b.presenter_name, b.label_id
        from collector_info a, presenter_info b
        where a.collector_id = b.collector_id and a.collector_id = #{collectorId}
    </select>

    <select id="selectPublishedTasks" resultMap="taskMap">
        select a.*, b.*
        from collector_info a, task_info b
        where a.collector_id = b.collector_id and a.collector_id = #{collectorId}
    </select>
</mapper>